@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100vh;
}

:root {
  --focus-border: #eca834;
}

.bp4-input {
  height: 31px;
}

.stat {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.bp4-dark .bp4-table-quadrant {
  background-color: rgb(38, 38, 38);
}
