name: Security Check
on:
  workflow_run:
    workflows: ["End-to-end Tests"]
    branches: [main]
    types:
      - completed
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
